*{
	box-sizing:border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  color: #1f2d3d;
  line-height: 1.25;
}

strong {
  font-size: 14px;
  font-weight: 400;
  color: #afb3b9;
  line-height: 1.4285714286;
}

p {
  font-size: 16px;
  color: #79818b;
  line-height: 1.5;
}


.card::after{
	content:'';
	display:block;
	clear:left;
}

.card-user{
	float:left;
	border-radius: 50%;
	width:44px;
	height:44px;
	margin: 20px 20px;
}

.card-content{
	float:left;
}

.card-content h1{
	margin: 20px 191px 4px 20px;
}

.card-content strong{
	margin: 44px 334px 12px 20px;
}

.card-content p{
	margin: 12px 20px 20px 20px;
}

