* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.02em;
  }
  
  h1 {
    font-size: 16px;
    font-weight: 400;
    color: #1f2d3d;
    line-height: 1.25;
  }
  
  strong {
    font-size: 14px;
    font-weight: 400;
    color: #afb3b9;
    line-height: 1.4285714286;
  }
  
  p {
    font-size: 16px;
    color: #79818b;
    line-height: 1.5;
  }

  .user{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: 20px;
      margin-left: 20px;
  }

  .user img{
      width: 44px;
      height: 44px;
      border-radius: 50%;
  }

  .user-content h1{
      margin-left: 20px;
      margin-bottom: 4px;
  }

  .user-content strong{
      display: block;
      margin-left: 20px;
      margin-bottom: 12px;
  }

  .user-content p{
      margin-left: 20px;
  }